.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
.w3-content,.w3-auto{margin-left:auto;margin-right:auto}.w3-content{max-width:980px}.w3-auto{max-width:1140px}
.w3-center{text-align:center!important}
.w3-padding-32{padding-top:32px!important;padding-bottom:32px!important}
.w3-padding-large{padding:12px 24px!important}

.w3-text-lime, a, .w3-hover-text-lime:hover{color:#cddc39!important}
 /* Responsive Adjustments */
        @media (max-width: 768px) {
           .w3-content, .contact {
                flex: 1 1 calc(50% - 20px);
            }
        }

        @media (max-width: 480px) {
            .w3-content, .contact {
                flex: 1 1 100%;
            }
        }
